@charset "UTF-8";

/*
Telas pequenas: até 600px
Celular: 600px até 770px
Tablet: 770px até 992px
Desktop: 992px até 1200px
Telas grandes: 1200px +

*/
/*versão para tablet*/
@media screen and (min-width:770px) and (max-width:992px) {
    section#login{
        width: 80vw;
        height: 500px;
        
        
    }
    body{
        background: linear-gradient(to top, #49a09d, #5f2c52);
    }
    background-position:left bottom;

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login >div#formulario{
        float: center;
        width: 100%;
        
    }
}

@media screen and (min-width:992px) {
    section#login{
        width: 950px;
        height: 380px;
    }
    body{
        background: linear-gradient(to top, #49a09d, #5f2c52);
        background-position:left bottom;
    }
    
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario > p{
        font-size: 1.2em;
    }
    div#formulario > h1{
        font-size: 3em;
    }
}